<!doctype html>
<html lang="en">
<head>
    {% load static %}<!--must add {static}  -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> <!--must add {static}  -->
</head>
<body>
<h2>Emobilis Mobile Technology Homepage</h2>
<p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium consectetur consequuntur, deserunt dolore ea et expedita harum, magni minus mollitia odio optio quo repudiandae sed sit tempore vero. Eius, ipsam!
</span></p>
<img src="{%  static 'img/img_1.png' %}" alt=""> <!--must add {static}  -->
</body>
</html>